@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    border: none;
    border-radius: 0px;
    font-family: "DroidSansM Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: transparent;
    color: @text;
}

window#waybar > box {
    background: @base;
    border-radius: 10px;
    margin: 5px;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: @crust;
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: @overlay0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.focused {
    color: @text;
    background: @blue;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 10px;
}

#idle_inhibitor,
#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight,
#language,
#disk,
#mpris,
#scratchpad {
    padding: 0px 10px;
    border-radius: 10px;
}

#temperature.critical {
    color: @maroon;
}

#backlight {
    padding-left: 7px;
}

#tray {
    border-radius: 10px;
    margin-right: 5px;
    padding: 0px 4px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: @mauve;
}

#window {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: @peach;
    border-radius: 10px;
    margin-left: 5px;
    transition: 0.3s;
    padding-left: 7px;
}

#network {
    color: @yellow;
}

#bluetooth {
    color: @sapphire;
    border-radius: 10px;
    margin-right: 10px;
}

#pulseaudio {
    color: @mauve;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#battery {
    color: @green;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
}

#custom-weather {
    color: @peach;
    border-radius: 10px;
    margin-left: 0px;
}

#language {
    color: @lavender;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#disk {
    color: @teal;
}

#mpris {
    color: @text;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#scratchpad {
    color: @teal;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 7px;
    padding-right: 7px;
}


