
@import "catpuccin-mocha.css";

/* === Base & Defaults === */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
    font-size: 12px;
    min-height: 0;
    transition: all 0.3s ease;
}
/* === Tooltips === */
tooltip {
    background: @base;
    color: @text;
    border-radius: 10px;
    border: 1px solid @mantle;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    padding: 6px 10px;
}

/* === Workspaces === */
#workspaces {
    background: @base;
    border-radius: 10px;
    margin: 5px 5px 0 5px;
    padding: 3px 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

#workspaces button {
    padding: 4px 10px;
    color: @overlay0;
    margin-right: 0px;
    border-radius: 10px;
    background: transparent;
    transition: 0.25s ease;
}

#workspaces button.active {
    color: @text;
    background: @surface1;
    box-shadow: inset 0 0 0 1px @overlay1;
}

#workspaces button.focused {
    color: @crust;
    background: @maroon;
    box-shadow: 0 0 6px rgba(255, 85, 85, 0.4);
}

#workspaces button.urgent {
    background: @red;
    color: @crust;
}

#workspaces button:hover {
    background: @surface0;
    color: @text;
}

/* === General Module Style === */
#idle_inhibitor,
#custom-power_profile,
#custom-weather,
#window,
#workspaces,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#bluetooth,
#temperature,
#tray,
#backlight {
    background: @base;
    border-radius: 10px;
    margin: 2px 2px 0 4px;
    padding: 4px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    border: 1px solid @mantle;
    transition: 0.1s ease;
}


window#waybar {
    background: transparent;
    color: @text;
}
/* === Hover Feedback === */
#idle_inhibitor:hover,
#custom-power_profile:hover,
#custom-weather:hover,
#window:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#temperature:hover,
#tray:hover,
#backlight:hover {
    background: @base;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    color: @subtext0;
}

/* === Module Specifics === */
#temperature.critical {
    color: @maroon;
}

#clock {
    color: @peach;
}

#network {
    color: @yellow;
}

#bluetooth {
    color: @blue;
}

#pulseaudio {
    color: @sky;
}

#pulseaudio.microphone {
    color: @mauve;
}

#battery {
    color: @green;
}

#custom-power_profile {
    color: @green;
}

#custom-weather {
    color: @sapphire;
}

#cpu {
    color: @mauve;
}

#memory {
    color: @pink;
}

/* === Tray === */
#tray {
    border-radius: 10px;
    padding: 0 6px;
}


