[*.lua]
indent_style = space
indent_size = 2

[*.nix]
indent_style = space
indent_size = 2

# any other file
[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_style = 4
